<template>
  <!-- <require from="bootstrap/css/bootstrap.css"></require> -->
  <require from="components/headingBlock/headingBlock"></require>

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        Tyep goes here
      </div>
      <div class="panel-body">
        <div class="bar"></div>
        <div class="content-wrapper">
          <heading-block></heading-block>
        </div>
        <div class="bar"></div>
      </div>
    </div>
  </div>
</template>